<header>
    MuDos
</header>

<main>
    {{liquid-outlet}}
</main>

<footer>
    {{link-to "noch zu tun" "index"}} ({{model.offene.length}})
    {{link-to "erledigte Aufgaben" "erledigt"}}  ({{numDone}})
</footer>